<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>FlaemischeKanzleischrift.ttf</string>
		<string>Big-Snow.ttf</string>
		<string>ChenYuluoyan-2.0-Thin.ttf</string>
		<string>StarPandaKidsBeta2.1.otf</string>
	</array>
</dict>
</plist>
